@import "stylix.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

.start {
  margin-left: 13px;
}

.workspaces {
  margin-left: 7px;
}

.workspaces .item {
  padding: 2px 6px;
  margin-right: 3px;
  color: @base05;
  border-right: 1px solid @base03;
  padding-right: 9px;
  border-bottom: 3px solid transparent;
}

.workspaces .item:last-child {
  border-right: none;
}

.workspaces .item.focused {
  border-bottom: 3px solid @base05;
}

.battery,
.network_manager,
.volume,
.tray,
.clock {
  background-color: transparent;
  min-width: 12px;
  margin-right: 13px;
}

.battery.warning {
  color: @base09;
}

.battery.critical {
  color: @base08;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
