@import "stylix.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

.modules-left {
  margin-left: 13px;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
  color: @base05;
}

#battery,
#network,
#pulseaudio,
#tray,
#clock {
  background-color: transparent;
  min-width: 12px;
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
